.json filter=lfs diff=lfs merge=lfs -text
.pyc filter=lfs diff=lfs merge=lfs -text
.pyo filter=lfs diff=lfs merge=lfs -text
.pyd filter=lfs diff=lfs merge=lfs -text
.vrp filter=lfs diff=lfs merge=lfs -text
.pkl filter=lfs diff=lfs merge=lfs -text
.pk2 filter=lfs diff=lfs merge=lfs -text
.cpg filter=lfs diff=lfs merge=lfs -text
.shp filter=lfs diff=lfs merge=lfs -text
.shx filter=lfs diff=lfs merge=lfs -text
