# Virtual environments
myapp/
venv/
.env/


# Python Cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
Artifical_Intelligence/
Artificial_Intelligence/
Personal/
WSL/
Machine_Learning/Learn\Machine\_Learning
Machine_Learning/Challenge_3/data/KMNIST


# Document files
*.yaml
*.toc
*.tex
*.aux
*.out
*.gz
*.rar
*.html

# Data and Module Types
*.vrp
*.pkl
*.pt
*.png
*.jpg 
*.cpg
*.shp
*.shx
*.pth
*.json
*.zip
*.csv
*.7z
*.bz2
*.npy
*.pdf

# Logs
*.txt
*.log
*.tmp
