# Virtual environments
myapp/
venv/
.env/

# Python Cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/

# Document files
*.yaml
*.toc
*.tex
*.aux
*.out
*.gz

# Data and Module Types
*.vrp
*.pkl
*.pt
*.png
*.jpg 
*.cpg
*.shp
*.shx
*.pth
*.json
*.zip
*.csv
*.7z
*.bz2
*.npy

# Logs
*.txt
*.log
*.tmp
